# DOMAIN
DOMAIN=crm.tudominio.com

# DATABASE
MYSQL_ROOT_PASSWORD=superroot
MYSQL_DATABASE=espocrm
MYSQL_USER=espocrm
MYSQL_PASSWORD=espopass

# ESPOCRM
ESPO_ADMIN_USER=admin
ESPO_ADMIN_PASS=admin123

# GRAFANA
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASS=admin

# NETWORK
TZ=America/Sao_Paulo